:root {
  --primary: #737373;
  --secondary: #876840;
  --bg_gray: #f6f6f6;
  --red: #ff0000;
  --dark_gray: #7b7b7b;
  --adobeArabicRegular: "adobe_arabicregular", sans-serif;
  --avenirnextcyrBold: "avenir_next_cyr_mediumbold", sans-serif;
  --avenirnextcyrLight: "avenir_next_cyrlight", sans-serif;
  --avenirnextcyrMedium: "avenir_next_cyrmedium", sans-serif;
}

@font-face {
  font-family: "adobe_arabicregular";
  src: url("../fonts/AdobeArabic/adobearabic-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/AdobeArabic/adobearabic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir_next_cyr";
  src: url("../fonts/AvenirNextCyr/avenirnextcyr-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/AvenirNextCyr/avenirnextcyr-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "avenir_next_cyr";
  src: url("../fonts/AvenirNextCyr/avenirnextcyr-light-webfont.woff2")
      format("woff2"),
    url("../fonts/AvenirNextCyr/avenirnextcyr-light-webfont.woff")
      format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "avenir_next_cyr";
  src: url("../fonts/AvenirNextCyr/avenirnextcyr-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/AvenirNextCyr/avenirnextcyr-medium-webfont.woff")
      format("woff");
  font-weight: 500;
}

.adobeArabicRegular {
  font-family: var(--adobeArabicRegular);
}

body {
  font-family: "avenir_next_cyr";
  font-weight: 500;
  font-size: 14px;
}

.checkbox {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  border: 1px solid #000;
  border-radius: 0;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  opacity: 0.8;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #000;
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

/* expanded */

.toggle-icon::before {
  font-family: "icomoon";
  content: "\e936";
  font-size: 18px;
  font-weight: 600;
}
.expanded .toggle-icon::before {
  font-family: "icomoon";
  content: "\e935";
  font-size: 18px;
  font-weight: 600;
}

nav.navbar-bg {
  background-color: #ffffff;
}

.homepageWrapper nav.navbar-bg {
  position: absolute;
  background-color: transparent;
  border-bottom: none;
  transition: all 0.3s ease;
}

@-webkit-keyframes top-bottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes top-bottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@-webkit-keyframes left-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes left-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

nav.navbar-solid {
  position: fixed;
  border-bottom: none;
  z-index: 999;
  padding: 0.5rem 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: top-bottom 0.5s ease-in-out;
}

.homepageWrapper nav.navbar-solid {
  background-color: #ffffff;
}

.homepageWrapper nav.navbar-solid .logo {
  height: 70px;
}

.btn {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #000;
  width: 56px;
  height: 56px;
  opacity: 0.1;
  transition: all 0.3s ease;
}

.btn .btn-text {
  position: relative;
}

.btn .icon-arrow-right {
  position: relative;
  top: 0;
  margin-left: 10px;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.btn:hover:before {
  width: 100%;
  background: #000;
  opacity: 1;
}

.btn:hover .btn-text,
.btn:hover .btn-icon {
  color: #fff;
}
.btn:hover .icon-arrow-right {
  transform: translateX(0);
}
.btn:active {
  transform: scale(0.96);
}

/* slider */

.slick-arrow:hover span {
  color: var(--secondary);
  font-weight: bold;
}

.desktopSlider {
  display: block !important;
}

.mobileSlider {
  display: none !important;
}

/* end of slider */

.borderLine {
  position: relative;
  display: inline-block;
}

.borderLine:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -20px;
  width: 40px;
  height: 6px;
  z-index: 99;
  background: #000;
}

/* expansion */

.expansionWrapper .expansionlist {
  position: relative;
  width: 100%;
  height: auto;
}

.expansioncontent {
  display: none;
}

.expansionWrapper .expansionlist:first-child .expansioncontent {
  display: block;
}

/* promocode */

.promoshow > span {
  display: none;
}

/* footer */

.footerWrapper > div ul li:hover a {
  color: var(--secondary);
}

.footerlinks li > a {
  position: relative;
  display: block;
  padding-left: 8px;
}

.footerlinks li > a:before {
  position: absolute;
  content: "-";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .desktopSlider {
    display: none !important;
  }

  .mobileSlider {
    display: block !important;
  }
  .btn {
    padding-left: 0;
    padding-right: 0;
  }

  .btn:before {
    left: -16px;
  }

  .btn:hover .btn-text,
  .btn:hover .btn-icon,
  .btn:focus .btn-text,
  .btn:focus .btn-icon {
    color: var(--secondary);
  }

  .btn:hover:before,
  .btn:focus:before {
    width: 56px;
    opacity: 0.1;
  }
}

@media screen and (max-width: 640px) {
  .instagramPosts > a {
    display: none;
  }

  .instagramPosts > a:nth-child(-n + 2) {
    display: block;
  }
}
